<configuration>
    <appender name="KAFKA_APPENDER" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder>
            <pattern>%X{traceId}:%d{HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
        </encoder>
        <topic>ebs-jwt</topic>
        <keyingStrategy
                class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy" />
        <deliveryStrategy
                class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />
        <producerConfig>bootstrap.servers=192.168.1.56:9092</producerConfig>
    </appender>
    <root level="info">
        <appender-ref ref="KAFKA_APPENDER"/>
    </root>
</configuration>